<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>大鱼海棠</string>
		<key>coverUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2339827309.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2352310242.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>魔兽</string>
		<key>coverUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2345947329.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱丽丝梦游仙境2</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2349374680.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海底总动员2</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2356015154.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>千与千寻</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p1910830216.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>借东西的小人阿莉埃蒂</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p617533616.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哈儿的移动城堡</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2174346180.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天空之城</string>
		<key>coverUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/spst/public/p1446261379.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>龙猫</string>
		<key>coverUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/spst/public/p1910829638.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>风之谷</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p1917567652.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>侧耳倾听</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p456692072.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>虞美人盛开的山坡</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p1335271624.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>魔女宅急便</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p456676352.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>悬崖上的金鱼姬</string>
		<key>coverUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/spst/public/p454118602.jpg</string>
	</dict>
</array>
</plist>
