<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZXMovieBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>290B2A1D1D18D64400B52C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>290B2A361D18D64400B52C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>290B2A411D18D64400B52C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
